.password_reset {
    color: #fff;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .form-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
  
  button {
    background: yellowgreen; /* fallback for old browsers */
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
  }